<div id="projectresultholder" class="container container-feed">
	<div class="row no-gutters">
		<div class="col community-maincol feed-maincol">
			<div class="contentcolumn">
				$pages.includeContent()	
			</div>
		</div>
		<div class="col col-4 col-collectivesidebar">
			<div class="collective-sidebar">
				#set($collectivehits = $mediaarchive.query("librarycollection").exact("library",$library.id).sort("creationdate").search($context))
				<h3 style="margin:0 0 10px;">[[CATEGORIES]]</h3>
				#if ($librarycol.id)
				<a class="pick-item" href="$applink/index.html" 
						title="[[Blog Homepage]]">
						Blog Homepage
						</a>
				#end
				#foreach( $collective in $collectivehits.getPageOfHits() )
					#set($link = false) 
					#if($collective.assetportrait)
						#set($asset = $mediaarchive.getAsset($collective.assetportrait))
						#set($link = $mediaarchive.asLinkToPreview($asset,"image550x350.jpg"))
					#end
				
					<a  href="$applink/collective/channel/${collective.id}/#dash($collective.getName()).html" 
						class="pick-item project-title #if ($librarycol.id == $collective.id) pick-item-selected #end" 
						title="${collective.getName()}">
						$collective.name
						</a>
				#end
			</div>		
		</div>
	</div>
</div>