<!DOCTYPE html>
<html lang="en">

  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	#set($siteid = $content.siteid)
	$context.putPageValue("siteid", $siteid)
	#set($meta_title = $postdata.getValue("post_title"))
	#if(!$meta_title)
		#set($meta_title = $content.get("meta_title"))
	#end
	#if(!$meta_title)
		#set($meta_title = "eMediaFinder - Find what your looking for")
	#end
	#if ($content.section == "knowledge")
		#if($content.project == "project9")
			#set($meta_title = "$!meta_title - Knowledge Base - EnterMedia 9")
		#else
			#set($meta_title = "$!meta_title - Knowledge Base - EnterMedia 10")
		#end
	#end
	

	<title>$meta_title</title>
	
	$pages.include("/${siteid}/app/collective/opengraphmetadata.html", $context)
    
    
    ##Why is handdled here?, moved to includes as all the others
    
##    #foreach( $script in $content.getScriptPaths() )
##	    <script type="text/javascript" src="$home$script">  </script>
##    #end

##    #foreach( $style in $content.getStylePaths() )
##	    <link rel="stylesheet" type="text/css" href="$home$style" />
##    #end


	$pages.include("/${applicationid}/theme/layouts/includes.html")
    
	<link rel="icon" href="/${siteid}/theme/images/em-favicon.ico" />
</head>

<body  showadmintoolbar="$canshowadmintoolbar" id="page-top">
<div id="application" 
	class="entermediadbapp"
	data-user="$!user.getId()"
	data-home="$home" 
	data-apphome="$apphome" 
	data-themeprefix="/${siteid}/theme" 
	data-browserlanguage="$!{browserlanguage}" 
	data-mediadbappid="$!mediaarchive.getMediaDbId()" 
	data-catalogid="$!content.catalogid" 
	data-editmode='$!user.get("oe_edit_mode")'>
	
	

	$pages.include("/${siteid}/app/theme/layouts/navigation.html")
	 
	<div id="applicationcontent" class="entermediadbcontent">
            $pages.includeContent()
    </div>
	
	
</div>

$pages.include("/${siteid}/GA.html")

#if($content.GAtrakingcode)
	$pages.include("/${siteid}/${content.GAtrakingcode}")
#end 	
</body>
</html>


