<!DOCTYPE html>
<html lang="en">

  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	#set($siteid = $content.siteid)
	$context.putPageValue("siteid", $siteid)

	#set($meta_title = $content.getValue("meta_title"))
	#if(!$meta_title)
		#set($meta_title = $postdata.getValue("post_title"))
	#end
	#if(!$meta_title)
		#set($meta_title = "EnterMedia Open-source Digital Asset Managment")
	#end
	<title>$meta_title</title>
	
	#set($meta_canonical = $content.getValue("meta_canonical"))
	#if($meta_canonical)
		<link rel="canonical" href="$meta_canonical" />
	#end
    
    
    #foreach( $script in $content.getScriptPaths() )
	    <script type="text/javascript" src="$home$script">  </script>
    #end

    #foreach( $style in $content.getStylePaths() )
	    <link rel="stylesheet" type="text/css" href="$home$style" />
    #end
    
	<link rel="icon" href="/${siteid}/theme/images/em-favicon.ico" />
</head>

<body  showadmintoolbar="$canshowadmintoolbar"  id="page-top">
<div id="application" 
	class="entermediadbapp"
	data-home="$home" 
	data-apphome="$apphome" 
	data-themeprefix="/${siteid}/theme" 
	data-browserlanguage="$!{browserlanguage}" 
	data-mediadbappid="$!mediaarchive.getMediaDbId()" 
	data-catalogid="$content.catalogid" 
	data-editmode='$!user.get("oe_edit_mode")'>
	
	

	$pages.include("/${siteid}/theme/layouts/navigation.html")
	 
	<div id="applicationcontent" class="entermediadbcontent">
            $pages.includeContent()
    </div>
	
	
</div>

$pages.include("/${siteid}/GA.html")

#if($content.GAtrakingcode)
	$pages.include("/${siteid}/${content.GAtrakingcode}")
#end 	
</body>
</html>


