#if($content.isPropertyTrue("shownav")) 

<ul class="emheaderbuttons" >

#if( $canviewhomelink )
<li><a class="navbutton" id="module"  href="$home$apphome/views/modules/client/"> [[Clients]] </a></li>
<li><a class="navbutton" id="module"  href="$home$apphome/views/modules/monitoredsites/"> [[Monitor]] </a></li>
<li><a class="navbutton" id="module"  href="$home$apphome/views/modules/sessionpackages/"> [[Sessions Packages]] </a></li>
<li><a class="navbutton" id="module"  href="$home$apphome/views/modules/sessions/"> [[Sessions]] </a></li>
<li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
<li><a class="navbutton" id="module"  href="$home$apphome/views/modules/entermedia_clients/"> [[Trial Clients]] </a></li>
#end





#if($canviewbasket)
<li #if($section=="basket") class="navselected"  #end  style="float: right;">
	$pages.include("$apphome/components/basket/menuitem.html")
</li>
#end


#if( $canviewupload)
<li style="float: right;"><a class="navbutton" id="module"  href="$home$apphome/views/upload/create/createnewstart.html" > [[Add Media]] </a></li>
#end




    

 </ul>


#end
