<beans projectname="sitemanager" depends="entermedia">


<bean id="SiteModule" class="org.entermedia.sitemanager.SiteModule">
</bean>
<bean id="siteManager" class="org.entermedia.sitemanager.SiteManager" scope="prototype">
	<property name="moduleManager"><ref bean="moduleManager"/></property>
	<property name="exec"><ref bean="exec"/></property>
</bean>
<bean id="AutoFailoverModule" class="org.entermedia.autofailover.AutoFailoverModule">
</bean>
<bean id="autoFailoverManager" class="org.entermedia.autofailover.AutoFailoverManager" scope="prototype">
	<property name="moduleManager"><ref bean="moduleManager"/></property>
</bean>
<bean id="SSLModule" class="org.entermedia.sslcertificates.SSLModule">
</bean>
<bean id="sslManager" class="org.entermedia.sslcertificates.SSLManager" scope="prototype">
</bean>
<bean id="SpeedModule" class="org.entermedia.speedtest.SpeedModule">
</bean>
<bean id="speedManager" class="org.entermedia.speedtest.SpeedManager" scope="prototype">
</bean>
<bean id="AssetCountModule" class="org.entermedia.assetcount.AssetCountModule">
</bean>
<bean id="assetCountManager" class="org.entermedia.assetcount.AssetCountManager" scope="prototype">
	<property name="moduleManager"><ref bean="moduleManager"/></property>
</bean>


</beans>

 