body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
  line-height: 1.75; }

a {
  color: #3e4553; }
  a.active, a:active, a:focus, a:hover {
    color: #fec503; }

.text-primary {
  color: #fed136 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1 {
  margin: 30px 0 20px }
h2 {
  margin: 20px 0 20px }
h3 {
  margin: 15px 0 15px }
  header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; } }
  
  .btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

.btn-primary {
  color: white;
  border-color: #fed136;
  background-color: #fed136; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
  .btn-primary:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #b48b01;
      background-color: #dcab01; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #fed136;
    background-color: #fed136; }
  .btn-primary .badge {
    color: #fed136;
    background-color: white; }

.btn-xl {
  font-size: 18px;
  padding: 20px 40px; }

::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #fed136; }
 
#services {
	margin-top: 20px;
}
#services .text-muted {
	font-size: 20px;
	line-height: 1.5;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.oifeedlayout
{
	background: url("../oi/banner.jpg") no-repeat top right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 background-size: contain;
 	min-height:800px;
}
.logo
{
position:absolute;top:-65px;left:60px;
height: 160px;
width: 160px;
background: url("../oi/logo.jpg") no-repeat center; 
background-size: 100%;

}

#mainNav
{
	float: right;
}

#mainNav .navbar-nav .nav-item .nav-link
{
	color:#fff;
}

.collfeedtools
{
	padding:100px 0px 0px 100px;
}



.oifeedlayout .gallery 
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 135px;
    overflow: hidden;
}
.oifeedlayout .gallery li {
    float: left;
    width: 241px;
    
    display: block;
    position: relative;
   
}
.oifeedlayout .gallery li img{
    width: 241px;
}

.oifeedlayout .oimenu 
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 35px;
    margin: 20px 0 0 300px;
}
.oifeedlayout .oimenu li {
    float: left;
    display: block;
    margin-left: 40px;
    position: relative;
   
}

