body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
  line-height: 1.75; }

a {
  color: #3e4553; }
  a.active, a:active, a:focus, a:hover {
    color: #fec503; }

.text-primary {
  color: #fed136 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1 {
  margin: 30px 0 20px }
h2 {
  margin: 20px 0 20px }
h3 {
  margin: 15px 0 15px }
  header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .intro-text {
    padding-top: 180px;
    padding-bottom: 80px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

	  .navbar-logo  {
	position:absolute;
	left:20px; 
	top:20px 	
  }
  
.navbar-brand  { 
		position:absolute;
		padding-left: 35px;
}

.navbar-toggler {
 	color:#fff;
 }
.nav-item { 
	text-align:right; 
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 200px;
    padding-bottom: 150px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
 
	.navbar-brand  img  { 
		margin: 0px; 
	}    
}

@media (min-width: 992px) {
	.navbar-brand  { 
		padding-left: 100px;
	}
}
 
  .btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

.btn-primary {
  color: white;
  border-color: #fed136;
  background-color: #fed136; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
  .btn-primary:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #b48b01;
      background-color: #dcab01; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #fed136;
    background-color: #fed136; }
  .btn-primary .badge {
    color: #fed136;
    background-color: white; }

.btn-xl {
  font-size: 18px;
  padding: 20px 40px; }

::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #fed136; }
 
#services {
	padding-bottom: 50px;
	
}
#services .text-muted {
	font-size: 20px;
	line-height: 1.5;
}
.section {
	/*padding: 0 60px 0 60px;*/
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.oifeedlayout
{
	background: url("../oi/banner.jpg") no-repeat top right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 background-size: contain;
 	min-height:800px;
}
.logocontainer {
	position:absolute;top:-32px;left:100px;
	height: 160px;
	width: 160px;
	padding:5px;
}

.logo {
	background: url("../oi/logo.png") no-repeat center; 
	background-size: 100%;
	height: 160px;
	width: 160px;
}

#mainNav
{
	float: right;
	background-color:#000;
	filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
}

@media (min-width: 992px) {
#mainNav {
background:none;
}
}

#mainNav.nav-project-page .navbar-nav .nav-item .nav-link
{
	color:#3e4553;
}

#mainNav .navbar-nav .nav-item .nav-link
{
	color:#FFF;
}
.collfeedtools
	{
		padding:0 15px 0 35px;
	}
	
@media (min-width: 992px) {
	.collfeedtools {
		padding:100px 0px 0px 100px;
	}
}

.oifeedlayout .gallery 
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 135px;
    overflow: hidden;
}
.oifeedlayout .gallery li {
    float: left;
    width: 241px;
    
    display: block;
    position: relative;
   
}
.oifeedlayout .gallery li img{
    width: 241px;
}

.oimenu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 35px;
}
.oimenu li {
   float: left;
   display: block;
   margin-right: 40px;
   position: relative;
   padding-top: 10px;
}

.select2 {
    min-width: 220px !important;
}

span.select2-container {
    z-index:10050;
}

.modal-header
{
	display:block;
}


#card-element { border:1px solid #ced4da; border-radius:.25rem; padding:.375rem .75rem;  }
#card-errors { color:#e5424d; font-size:80%;}

div#drop-area .drop-over {
    margin: 0 auto;
    width: 190px;
    height: 251px;
    background: url(../images/dragdropbox.jpg) no-repeat top left;
}
