<!-- Navigation EnterMediaDb.com -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-shrink" id="mainNav">

      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="$sitelink">
		<img src="$sitelink/theme/img/entermedia_database.png" class="img-fluid" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          [[Menu]]
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger #if($postdata.sourcepath=="home/") active #end" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-triggerr #if($postdata.sourcepath=="product/support.html") active #end" href="$sitelink/product/support.html">[[Support]]</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-triggerr #if($postdata.sourcepath.toString().contains("knowledge/")) active #end" href="$sitelink/knowledge/10/index.html">[[Knowledge Base]]</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link js-scroll-triggerr #if($postdata.sourcepath=="cloud-hosted-dam/") active #end" href="$sitelink/cloud-hosted-dam/">[[Cloud Hosting]]</a>
            </li>
	  ##  <li class="nav-item">
           ##   <a class="nav-link js-scroll-triggerr #if($postdata.sourcepath=="community/") active #end" href="$sitelink/community/index.html">[[Community]]</a>
           ## </li>
	
       	  #if( $user )
		  	<li class="nav-item " >
		  		<a class="nav-link #if($content.section == "eminstituteapp") active #end" href="$sitelink/app/users/$user.getId()/index.html">[[Account]]</a>
				## $pages.include("/entermediadb/app/account/activity/link.html")
            </li>

            <li class="nav-item">
              <a class="nav-link #if($content.section == "authentication") active #end" href="$sitelink/app/authentication/logout.html" rel="nofollow">[[Log Out]]</a>
            </li>
            #else
            <li class="nav-item ">
              <a class="nav-link #if($content.section == "authentication") active #end" href="$sitelink/app/authentication/login.html" rel="nofollow">[[Login]]</a>
            </li>
	    <li class="nav-item">
              <a class="btn btn-secondary btn-sm" href="$sitelink/app/site/sitedeployer/createaccount.html" rel="nofollow">[[Free Account]]</a>
            </li>
            #end

          </ul>
        </div>
      </div>
    </nav>
