<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Open Institute</title>

    <!-- Custom fonts for this template -->
    <link href="$themeprefix/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

$pages.include("${themeprefix}/layouts/includes.html")
#if($content.usemap == "true")
$pages.include("$apphome/components/map/includes.html")
#end

  </head>

  <body id="page-top">
<div id="application" data-home="$home" data-apphome="$apphome" data-themeprefix="${themeprefix}" data-browserlanguage="$!{browserlanguage}" data-mediadbappid="$!mediaarchive.getMediaDbId()">

  <!-- Navigation -->
  #if( $content.bannerpage )
  	<div>
    <a class="navbar-brand" href="$apphome">
      <img class="img-fluid" src="/oi/theme/images/Homepage-Layer-Files_0001s_0000s_0000_Logo-Biege.png" alt=""></a>
      <nav class="navbar navbar-expand-lg"  id="mainNav">
  #else
  	<div style="background-color: #f4f5ee;height:100px;">
    <a class="navbar-brand" href="$apphome" style="float:right;">  
    	<img style="height: 80px;" src="$apphome/theme/images/Homepage-Layer-Files_0000s_0000_Logo-Black.png" alt=""></a>
    <nav class="navbar navbar-expand-lg" id="mainNav">    
  #end
      <div class="">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            #if( $user )
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/member/index.html">Account</a>
            </li>
            #end
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/programs/index.html">Projects</a>
            </li>
           ## <li class="nav-item">
           ##   <a class="nav-link js-scroll-trigger" href="$apphome/contact/index.html">Contact</a>
           ## </li>
            	#if( $user )
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/authentication/logout.html">Logout</a>
            </li>
            	#else
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/authentication/login.html">Login</a>
            </li>
              	#end
          </ul>
        </div>
      </div>
    </nav>
    </div>
	</div>
    
$pages.includeContent()

</div>
  </body>

</html>
