<beans projectname="sitemanager" depends="entermedia">


<bean id="PaymentModule" class="org.entermedia.sitemanager.PaymentModule">
</bean>
<bean id="SiteModule" class="org.entermedia.sitemanager.SiteModule">
</bean>
<bean id="siteManager" class="org.entermedia.sitemanager.SiteManager" scope="prototype">
</bean>
<bean id="SSLModule" class="org.entermedia.sslcertificates.SSLModule">
</bean>
<bean id="sslManager" class="org.entermedia.sslcertificates.SSLManager" scope="prototype">
</bean>
<bean id="SpeedTestModule" class="org.entermedia.speedtest.SpeedTestModule">
</bean>
<bean id="speedTestManager" class="org.entermedia.speedtest.SpeedTestManager" scope="prototype">
</bean>


</beans>

 