<beans projectname="sitemanager" depends="entermedia">


<bean id="PaymentModule" class="org.entermedia.sitemanager.PaymentModule">
</bean>
<bean id="SiteModule" class="org.entermedia.sitemanager.SiteModule">
</bean>
<bean id="siteManager" class="org.entermedia.sitemanager.SiteManager" scope="prototype">
</bean>
 	


</beans>

 